@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: "Manrope";
    src: url("../public/font/Manrope-Light.ttf");
  };
  @font-face {
    font-family: "Mark Pro";
    src: url("../public/font/Mark Pro.ttf");
  };